body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    display: inline-block;
    flex-direction: row;
}

.main {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.sidebar {
    background-color: black;
    width: 340px;
    color: white;
}

.maincontent {
    background-color: #121212;
    flex: 1;
    overflow: auto;
}

.musicplayer {
    background-color: black;
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.options {
    background-color: #121212;
    height: 5rem;
    border-radius: 10px;
    margin: .5rem;
}

.options a {
    text-decoration: none;
    color: white;
    opacity: 0.75;
    line-height: 2.7;
    padding-left: 1rem;
}

.options a:hover {
    opacity: 1;
}

.library {
    padding-top: 1rem;
    margin: .5rem;
    border-radius: 10px;
    background-color: #121212;
    height: 100%;
}

.icons img {
    height: 1.4rem;
    width: 1.4rem;
    padding-left: 1rem;
}

.icons a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.icons img,
a,
i {
    opacity: .7;
    cursor: pointer;
}

.icons img,
a,
i:hover {
    opacity: 1;
}

.card {
    background-color: #1b1b1b;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px 0;
    padding-left: .6rem;
    margin: 0.5rem .5rem;
    line-height: 20px;
}

.card::first-line {
    font-weight: 500;
}

.card button {
    border-radius: 15px;
    border: 2px solid white;
    padding: 3px;
    font-size: 12px;
}

.cards {
    margin-top: 1rem;
}

.bkfk {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding: 10px;
}

.bkfk button {
    border-radius: 15px;
    border: 2px solid black;
    padding: 6px 20px;
}

.butuns {
    padding-right: 30px;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: #131313;
    z-index: 10;
}

@media(max-width:990px) {
    .hide {
        display: none;
    }
}

.playlist1 {
    color: white;
}

.cardd {
    width: 150px;
    background-color: #1b1b1b;
    border-radius: 10px;
    padding: 12px;
    margin-left: 20px;
}

.cardd img {
    width: 100%;
    border-radius: 10px;
    padding-top: 5px;
}

.cardcontainer {
    display: flex;
    flex-wrap: wrap;
}

.playlist1 {
    padding-left: 30px;
}

.playlist2 {
    color: white;
    padding-left: 30px;
}

.playlist3 {
    color: white;
    padding-left: 30px;
}

.row {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    border-top: 2px solid grey;
    width: 350px;
    height: 100px;
}

.song {
    width: 25%;
    color: white;
    display: flex;
    align-items: center;
}

.song img {
    height: 4.5rem;
    width: 4.5rem;
    margin: 10px 15px 10px 25px;
    border-radius: 3px;
}

#dh {
    margin-bottom: 7px;
    margin-top: 15px;
}

#ha {
    margin-top: 0;
    font-size: 10px;
    opacity: .7;
}

.icn {
    margin-left: 26px;
}

.icn i {
    padding-left: 8px;
}

.playback {
    width: 50%;
    color: white;
}

.cntrls img {
    height: 17px;
    width: 17px;
    padding: 3px 18px;
    opacity: .7;
}

#play {
    height: 35px;
    width: 35px;
    opacity: 1;
}

.cntrls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.range{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar {
    appearance: none;
    width: 400px;
    opacity: .7;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    /* margin-bottom: 20px; */
}

.bar::-webkit-slider-runnable-track {
    appearance: none;
    height: 4px;
    background: #fff;
    border-radius: 10px;
    opacity: .7;
}

.bar::-webkit-scrollbar-thumb {
    appearance: none;
    display: none;
    height: 10px;
    width: 16px;
    height: 16px;
    background-color: green;
    border-radius: 50%;
    margin-top: -6px;
    cursor: pointer;
}
.sidecontent{
    width: 25%;
    color:white;
    display: flex;
    justify-content: center;
    align-content: center;
}
.sidecontent i,input{
    margin-left: .7rem;
}
.volume{
     appearance: none;
    width: 140px;
    opacity: .7;
    border-radius: 10px;
    height: 4px;
    margin-top: 6px;
}
.volume::-webkit-slider-runnable-track {
    appearance: none;
    height: 1px;
    background: #fff;
    border-radius: 10px;
    opacity: .7;
}
.volume::-webkit-scrollbar-thumb {
    height: 10px;
    width: 16px;
    height: 16px;
    background-color: green;
    border-radius: 50%;
    margin-top: -6px;
    cursor: pointer;
}